
<!DOCTYPE html>
<html lang="en">
        

<head>
    <meta charset="UTF-8">
	<title>Budget Page</title>
	 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>      
	<script type="text/javascript" src="/chart.js"></script> 
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>    
	<link rel="stylesheet" type="text/css" href="/style.css" />
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	
    <style>
        body { padding-top:10px; }
    </style>
</head>
<body>
          
        
    <div class="container">
        <div class="jumbotron">
            <h1>This is where you can analyze your budget!</h1>
            <h2>Also, don't get too pissed off because things are about to change!</h2>
        </div>
	</div>         
                

    <div ng-app="myApp" ng-controller="myCtrl">
			<h2>Before it gets depressing, input your income:</h2>
		<div class="flex-container">
			<div class="text">
			<div class="text-between">
			Income: <input type="number" ng-model="income1" ng-change="change()"><br>
			</div>
			<div class="text-between">
			Source: <input type="text" ng-model="source1" ng-change="change()"><br>
			</div>
			<div class="text-between">
			Source: <input type="text" ng-model="source2" ng-change="change()"><br> 
			</div>
			<div class="text-between">
			Income: <input type="number" ng-model="income2" ng-change="change()"><br>
			</div>
			<div class="text-between">
			Source: <input type="text" ng-model="source2" ng-change="change()"><br> 
			</div>
			<div class="text-between">
			Income: <input type="number" ng-model="income3" ng-change="change()"><br>
			</div>
			<div class="text-between">
			Source: <input type="text" ng-model="source3" ng-change="change()"><br> 
			</div>
		<br>
	</div>	
	</div>

			<h2>Enter in your expenses to see a chart break-down</h2>
	<div class="flex-container">
		<div class="text">
			<div class="text-between">
			First Expense: <input type="number" ng-model="firstEx" ng-change="change()"><br>
			</div>
			<div class="text-between">
			Name: <input type="text" ng-model="name1" ng-change="change()"><br>
			</div>
			<div class="text-between">
			Second Expense: <input type="number" ng-model="secondEx" ng-change="change()"><br>
			</div>
			<div class="text-between">
			Name: <input type="text" ng-model="name2" ng-change="change()"><br>
			</div>
			<div class="text-between">
			Third Expense: <input type="number" ng-model="thirdEx" ng-change="change()"><br>
			</div>
			<div class="text-between">
			Name: <input type="text" ng-model="name3" ng-change="change()"><br>
			</div>
			<div class="text-between">
			Fourth Expense: <input type="number" ng-model="fourthEx" ng-change="change()"><br>
			</div>
			<div class="text-between">
			Name: <input type="text" ng-model="name4" ng-change="change()"><br>
			</div>
			<div class="text-between">
			Fifth Expense: <input type="number" ng-model="fifthEx" ng-change="change()"><br>
			</div>
			<div class="text-between">
			Name: <input type="text" ng-model="name5" ng-change="change()"><br>
			</div>
            <br>
            {{name1}}: {{firstEx}}<br>
            {{name2}}: {{secondEx}}<br>
            {{name3}}: {{thirdEx}}<br>
			{{name4}} : {{fourthEx}}<br>
			{{name5}} : {{fifthEx}}<br>
			<br><br>
			Total Income: {{income1 + income2 + income3}}
            <br>
			Total Expenses: {{firstEx + secondEx + thirdEx + fourthEx + fifthEx}}
			<input type="hidden" ng-init="NetIncome"><br>
			NetIncome = {{NetIncome}}
           </div>
		  
		   <div id="chart_div"></div>

		   <div id="donutchart" style="width: 900px; height: 500px;"></div>
            
        
</body>




<script>



var app = angular.module('myApp', []);
   app.controller('myCtrl', function($scope, $window) {
					$scope.change = function(){
					const values = {expenseNameOne: $scope.firstEx,
									expenseNameTwo: $scope.secondEx,
									expenseNameThree:$scope.thirdEx,
									expenseNameFour:$scope.fourthEx,
									expenseNameFive:$scope.fifthEx
									}
					const names = {	name1: $scope.name1,
									name2: $scope.name2,
									name3:$scope.name3,
									name4:$scope.name4,
									name5:$scope.name5
									}
					var grossIncome = calcIncome($scope.income1, $scope.income2, $scope.income3)
					var totExpenses = calcExpenses($scope.firstEx, $scope.secondEx, $scope.thirdEx, $scope.fourthEx, $scope.fifthEx)
					$scope.NetIncome =  grossIncome - totExpenses
					createTheShit(values, names)
					CreateTheDonut(grossIncome, totExpenses)
                   }  
				})

  
window.onload = function() {
	createTheShit(values,names)
}

var calcIncome = function(income1, income2, income3){
	if(income1==null) income1 = 0
	if(income2==null) income2 = 0
	if(income3==null) income3 = 0
	return income1 + income2 + income3
}

var calcExpenses = function(ex1, ex2, ex3, ex4, ex5){
	if(ex1==null) ex1 = 0
	if(ex2==null) ex2 = 0
	if(ex3==null) ex3 = 0
	if(ex4==null) ex4 = 0
	if(ex5==null) ex5 = 0
	return ex1 + ex2 + ex3 + ex4 + ex5

}
var createTheShit = function(values, names){
if(!one){var one = 1}
if(!two){var two = 1}
if(!three){var three = 1}
if(!four){var four = 1}
if(!five){var five = 1}
  // Load the Visualization API and the corechart package.
  google.charts.load('current', {'packages':['corechart']});

  // Set a callback to run when the Google Visualization API is loaded.
  google.charts.setOnLoadCallback(drawChart);

  // Callback that creates and populates a data table,
  // instantiates the pie chart, passes in the data and
  // draws it.
  function drawChart() {

	// Create the data table.
	var data = new google.visualization.DataTable();
	data.addColumn('string', 'Topping');
	data.addColumn('number', 'Amt In Dollars');
	data.addRows([
	  [names.name1, values.expenseNameOne],
	  [names.name2, values.expenseNameTwo],
	  [names.name3, values.expenseNameThree],
	  [names.name4, values.expenseNameFour],
	  [names.name5, values.expenseNameFive]
	]);

	// Set chart options
	var options = {'title':'MY EXPENSES',
				   'width':800,
				   'height':500};

	// Instantiate and draw our chart, passing in some options.
	var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
	chart.draw(data, options);
  }
}




var CreateTheDonut = function(income, expenses){
	if(income==null)income=0
	if(expenses==null)expenses=0
	const incomeVar = income
	const expensesVar = expenses
	const net = income - expenses
	google.charts.load("current", {packages:["corechart"]});
	google.charts.setOnLoadCallback(drawChart);
	function drawChart() {
	  var data = google.visualization.arrayToDataTable([
		['Type of Amount', 'Amount'],
		['Expenses', expensesVar],
		['Gross Income', incomeVar],
		['Net Income', net]
	  ]);

	  var options = {
		title: 'Income vs Expenses',
		pieHole: 0.4,
	  };

	  var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
	  chart.draw(data, options);
	}
}


</script>

</html>